@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300,1,400,1,600&display=swap");

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body .wrapper .wrapper__column .content .main .container .main__title a,
body .wrapper .wrapper__column .content .main .container .main__title a:hover,
body .wrapper .wrapper__column .content .were-block .button,
body .wrapper .wrapper__column .content .were-block .button:hover,
body .wrapper .wrapper__column .content .get-block .get-block__container .get-block__buttons .get-block__row .button,
body .wrapper .wrapper__column .content .get-block .get-block__container .get-block__buttons .get-block__row .button:hover,
body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:first-child p:last-child,
body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:first-child p:last-child:hover {
  font-size: 14px;
  color: white;
  padding: 20px 30px;
  border-radius: 50px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9672fb+0,9672fb+28,d772fb+60,d772fb+96,d772fb+96,9672fb+100 */
  background: #9672fb;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #9672fb 0%, #9672fb 28%, #d772fb 60%, #d772fb 96%, #d772fb 96%, #9672fb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9672fb', endColorstr='#9672fb',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

body .wrapper .wrapper__column .content .main .decoration2,
body .wrapper .wrapper__column .content .main .decoration6,
body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:last-child .decoration1,
body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:last-child .decoration2,
body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:last-child .decoration3,
body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:last-child .decoration4,
body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:last-child .decoration5 {
  opacity: 0.4;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9672FB;
}

body .wrapper .wrapper__column .wrapper__item .header::before,
body .wrapper .wrapper__column .content .block1::after {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+1,ffffff+100&1+0,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f5f5fa 0%, rgba(245, 245, 250, 0.99) 1%, rgba(245, 245, 250, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
}

.container {
  position: relative;
  max-width: 840px;
  height: 100%;
  margin: 0 auto;
}

body {
  background-color: #F6F6F9;
}

body .wrapper {
  font-family: 'Montserrat';
  font-style: italic;
}

body .wrapper .wrapper__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body .wrapper .wrapper__column .wrapper__item {
  position: relative;
  width: 100%;
}

body .wrapper .wrapper__column .wrapper__item .header {
  position: fixed;
  z-index: 20;
  height: 122px;
  width: 100%;
}

body .wrapper .wrapper__column .wrapper__item .header .header-container {
  margin: auto;
  height: 100%;
  /* на адартіві зробить 100% */
  max-width: 1000px;
}

body .wrapper .wrapper__column .wrapper__item .header .header-container .header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

body .wrapper .wrapper__column .wrapper__item .header .header-container .header__row .header__item {
  position: relative;
  z-index: 20;
}

body .wrapper .wrapper__column .wrapper__item .header .header-container .header__row .header__item .logo {
  display: flex;
  align-items: center;
  height: 100%;
}

body .wrapper .wrapper__column .wrapper__item .header .header-container .header__row .header__item .logo .logo__item:first-child {
  margin-right: 10px;
}

body .wrapper .wrapper__column .wrapper__item .header .header-container .header__row .header__item .logo .logo__item {
  font-size: 24px;
  font-weight: 600;
}

body .wrapper .wrapper__column .wrapper__item .header .header-container .header__row .header__item .burger {
  position: relative;
  width: 25px;
  height: 18px;
  cursor: pointer;
}

body .wrapper .wrapper__column .wrapper__item .header .header-container .header__row .header__item .burger::before,
body .wrapper .wrapper__column .wrapper__item .header .header-container .header__row .header__item .burger::after,
body .wrapper .wrapper__column .wrapper__item .header .header-container .header__row .header__item .burger span {
  position: absolute;
  height: 2px;
  background-color: #200E32;
  border-radius: 10px;
}

body .wrapper .wrapper__column .wrapper__item .header .header-container .header__row .header__item .burger::before {
  right: 0;
  top: 0;
  content: "";
  width: 15px;
}

body .wrapper .wrapper__column .wrapper__item .header .header-container .header__row .header__item .burger::after {
  bottom: 0;
  left: 0;
  content: "";
  width: 15px;
}

body .wrapper .wrapper__column .wrapper__item .header .header-container .header__row .header__item .burger span {
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

body .wrapper .wrapper__column .wrapper__item .header .header-container .header__row .header__item .burger .back {
  transition: all 0.3s ease 0s;
  opacity: 0;
  z-index: -1;
  width: 45px;
  height: 45px;
  background-color: #7A7490;
  border-radius: 50%;
  transform: translate(-18%, -45%);
}

body .wrapper .wrapper__column .wrapper__item .header .header-container .header__row .header__item .burger:hover .back {
  transition: all 0.3s ease 0s;
  opacity: 0.5;
}

body .wrapper .wrapper__column .wrapper__item .header .menu {
  display: none;
  opacity: 0;
}

body .wrapper .wrapper__column .wrapper__item .header._active {
  position: fixed;
  z-index: 30;
  background-color: white;
}

body .wrapper .wrapper__column .wrapper__item .header._active .burger._active {
  transition: all 0.3 ease 0s;
  position: relative;
  width: 25px;
  height: 18px;
  cursor: pointer;
}

body .wrapper .wrapper__column .wrapper__item .header._active .burger._active span {
  display: none;
}

body .wrapper .wrapper__column .wrapper__item .header._active .burger._active .back {
  opacity: 1;
}

body .wrapper .wrapper__column .wrapper__item .header._active .burger._active::before,
body .wrapper .wrapper__column .wrapper__item .header._active .burger._active::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 50%;
  background-color: #7A7490;
}

body .wrapper .wrapper__column .wrapper__item .header._active .burger._active::before {
  transform: rotate(45deg);
}

body .wrapper .wrapper__column .wrapper__item .header._active .burger._active::after {
  transform: rotate(-45deg);
}

body .wrapper .wrapper__column .wrapper__item .header._active .menu._active {
  display: block;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 380px;
  background-color: white;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

body .wrapper .wrapper__column .wrapper__item .header._active .menu._active ul {
  width: 100%;
  height: 100%;
}

body .wrapper .wrapper__column .wrapper__item .header._active .menu._active ul li {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 380px;
  margin-bottom: 45px;
  transition: all 0.3s ease 0s;
}

body .wrapper .wrapper__column .wrapper__item .header._active .menu._active ul li .text {
  font-size: 30px;
  font-weight: 600;
  color: #2F2651;
}

body .wrapper .wrapper__column .wrapper__item .header._active .menu._active ul li .image {
  height: 20px;
  width: 55px;
  background: url("../img/Path -4.png") 0 0/100% no-repeat;
}

body .wrapper .wrapper__column .wrapper__item .header._active .menu._active ul li:last-child {
  margin-bottom: 0;
}

body .wrapper .wrapper__column .wrapper__item .header._active .menu._active ul li:hover {
  transition: all 0.3s ease 0s;
  width: 340px;
}

body .wrapper .wrapper__column .wrapper__item .header._active .menu._active ul li:hover .text {
  color: #9672FB;
}

body .wrapper .wrapper__column .wrapper__item .header._active .menu._active ul li:hover .image {
  background: url("../img/Path -5.png") 0 0/100% no-repeat;
}

body .wrapper .wrapper__column .wrapper__item .header::before {
  content: "";
  position: absolute;
  z-index: 20;
  transform: scale(1.5);
  width: 100%;
  height: 200px;
}

body .wrapper .wrapper__column .wrapper__item .header._active::before {
  display: none;
}

body .wrapper .wrapper__column .content {
  position: relative;
  top: 122px;
  width: 100%;
}

body .wrapper .wrapper__column .content .main {
  position: relative;
  z-index: 25;
  background-color: #F6F6F9;
  margin-bottom: 125px;
  width: 100%;
  height: 678px;
}

body .wrapper .wrapper__column .content .main .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

body .wrapper .wrapper__column .content .main .container .main__imeg {
  position: relative;
}

body .wrapper .wrapper__column .content .main .container .main__imeg .imeg-container {
  position: relative;
  left: 260px;
  width: 400px;
  height: 400px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  overflow: hidden;
}

body .wrapper .wrapper__column .content .main .container .main__imeg .imeg-container img {
  border: 1px solid green;
  position: absolute;
  bottom: -40%;
  right: -12%;
  z-index: 6;
  width: 100%;
  height: 100%;
  transform: scale(2.5);
}

body .wrapper .wrapper__column .content .main .container .main__imeg .imeg-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 1;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9672fb+0,d772fb+100 */
  background: #9672fb;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #9672fb 0%, #d772fb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9672fb', endColorstr='#d772fb',GradientType=0 );
  /* IE6-9 */
}

body .wrapper .wrapper__column .content .main .container .main__title {
  max-width: 260px;
}

body .wrapper .wrapper__column .content .main .container .main__title p {
  font-size: 60px;
  font-weight: 600;
  color: #2F2651;
}

body .wrapper .wrapper__column .content .main .container .main__title p:first-child {
  color: #9672FB;
  margin-bottom: 0;
}

body .wrapper .wrapper__column .content .main .container .main__title p {
  margin-bottom: 60px;
}

body .wrapper .wrapper__column .content .main .container .main__title a {
  transition: all 0.3s ease 0s;
}

body .wrapper .wrapper__column .content .main .container .main__title a:hover {
  transition: all 0.3s ease 0s;
  padding: 15px 25px;
}

body .wrapper .wrapper__column .content .main .mouse {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(0, -50%);
}

body .wrapper .wrapper__column .content .main .decoration1 {
  position: absolute;
  top: 90%;
  left: 60%;
  opacity: 0.2;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 15px solid #7A7490;
  transform: rotate(210deg);
}

body .wrapper .wrapper__column .content .main .decoration2 {
  position: absolute;
  top: 140%;
  left: 65%;
}

body .wrapper .wrapper__column .content .main .decoration3 {
  position: absolute;
  top: 180%;
  left: 70%;
  opacity: 0.8;
  width: 20px;
  height: 20px;
  background-color: #FBCFBC;
  transform: rotate(45deg);
}

body .wrapper .wrapper__column .content .main .decoration4 {
  position: absolute;
  top: 65%;
  left: 85%;
  opacity: 0.8;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 15px solid #FBCFBC;
  transform: rotate(150deg);
}

body .wrapper .wrapper__column .content .main .decoration5 {
  position: absolute;
  top: 130%;
  left: 90%;
  opacity: 0.2;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 15px solid #7A7490;
  transform: rotate(210deg);
}

body .wrapper .wrapper__column .content .main .decoration6 {
  position: absolute;
  top: 85%;
  left: 92%;
}

body .wrapper .wrapper__column .content .block1 {
  position: relative;
  z-index: 2;
  width: 100%;
  overflow: visible;
  height: 1130px;
}

body .wrapper .wrapper__column .content .block1 .block__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .wrapper .wrapper__column .content .block1 .block__container .block__title {
  font-size: 30px;
  font-weight: 600;
  color: #2F2651;
  margin-bottom: 30px;
}

body .wrapper .wrapper__column .content .block1 .block__container .block__text {
  color: #7A7490;
  max-width: 840px;
  line-height: 28px;
  margin-bottom: 30px;
}

body .wrapper .wrapper__column .content .block1 .block__container .button {
  cursor: pointer;
}

body .wrapper .wrapper__column .content .block1::after {
  width: 100%;
  height: 70%;
  content: "";
  position: absolute;
  z-index: 2;
  top: 30%;
  transform: rotate(180deg);
}

body .wrapper .wrapper__column .content .were-block {
  position: relative;
  z-index: 2;
  width: 100%;
  background: url("../img/Appsss-1.png") 8% 70px/100% no-repeat;
}

body .wrapper .wrapper__column .content .were-block .button {
  transition: all 0.3s ease 0s;
  width: 180px;
}

body .wrapper .wrapper__column .content .were-block .button .button__row {
  display: flex;
  align-items: center;
}

body .wrapper .wrapper__column .content .were-block .button .button__row img {
  margin-right: 12px;
}

body .wrapper .wrapper__column .content .were-block .button:hover {
  transition: all 0.3s ease 0s;
  padding: 15px 25px;
}

body .wrapper .wrapper__column .content .get-block {
  position: relative;
  width: 100%;
  background: url("../img/Appsss.png") 5% -50%/100% no-repeat;
}

body .wrapper .wrapper__column .content .get-block .get-block__container .get-block__title {
  font-size: 60px;
}

body .wrapper .wrapper__column .content .get-block .get-block__container .get-block__buttons .get-block__row {
  display: flex;
  align-items: center;
}

body .wrapper .wrapper__column .content .get-block .get-block__container .get-block__buttons .get-block__row .button {
  transition: all 0.3s ease 0s;
  margin-right: 15px;
  max-width: 170px;
}

body .wrapper .wrapper__column .content .get-block .get-block__container .get-block__buttons .get-block__row .button .button__row {
  display: flex;
  align-items: center;
}

body .wrapper .wrapper__column .content .get-block .get-block__container .get-block__buttons .get-block__row .button .button__row img {
  margin-right: 12px;
}

body .wrapper .wrapper__column .content .get-block .get-block__container .get-block__buttons .get-block__row .button .button__row .button__text p:first-child {
  font-size: 10px;
  opacity: 0.7;
}

body .wrapper .wrapper__column .content .get-block .get-block__container .get-block__buttons .get-block__row .button:last-child {
  padding-top: 25px;
}

body .wrapper .wrapper__column .content .get-block .get-block__container .get-block__buttons .get-block__row .button:hover {
  transition: all 0.3s ease 0s;
  padding: 20px 28px;
}

body .wrapper .wrapper__column .content .block2 {
  height: 930px;
  position: relative;
}

body .wrapper .wrapper__column .content .block2 .block2__title {
  max-width: 620px;
  text-align: left;
}

body .wrapper .wrapper__column .content .block2 .block2__title p:first-child {
  font-size: 24px;
  font-weight: 400;
  color: #7A7490;
}

body .wrapper .wrapper__column .content .block2 .block2__title p:nth-child(2) {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #9672FB;
}

body .wrapper .wrapper__column .content .block2 .block2__title p:last-child {
  font-size: 20px;
  font-weight: 200;
  line-height: 28px;
  color: #7A7490;
}

body .wrapper .wrapper__column .content .block2 .images {
  display: flex;
  justify-content: center;
  width: 1100px;
  height: 600px;
}

body .wrapper .wrapper__column .content .block2 .images img {
  margin-right: 78px;
}

body .wrapper .wrapper__column .content .superhero-block .images {
  position: absolute;
  top: 30%;
  left: 20%;
}

body .wrapper .wrapper__column .content .photos-block .images {
  position: absolute;
  top: 30%;
  right: 20%;
}

body .wrapper .wrapper__column .content .why-block {
  height: 800px;
}

body .wrapper .wrapper__column .content .why-block .why {
  height: 800px;
}

body .wrapper .wrapper__column .content .why-block .why .why-block__row {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:first-child {
  max-width: 420px;
}

body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:first-child p:first-child {
  font-size: 30px;
  font-weight: 600;
  color: #2F2651;
  margin-bottom: 30px;
}

body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:first-child p:nth-child(2) {
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  margin-bottom: 30px;
  color: #7A7490;
}

body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:first-child p:last-child {
  transition: all 0.3s ease 0s;
  max-width: 170px;
  cursor: pointer;
}

body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:first-child p:last-child:hover {
  transition: all 0.3s ease 0s;
  padding: 15px 25px;
}

body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:last-child {
  max-width: 495px;
  max-height: 495px;
  position: relative;
  left: 40px;
}

body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:last-child img {
  width: 100%;
  transform: scale(1.7);
}

body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:last-child p {
  position: relative;
  top: 15px;
  font-size: 20px;
  text-align: center;
  color: #7A7490;
}

body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:last-child .decoration1 {
  position: absolute;
  bottom: 2%;
  left: 8%;
}

body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:last-child .decoration2 {
  position: absolute;
  bottom: 12%;
  left: 100%;
}

body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:last-child .decoration3 {
  position: absolute;
  top: 0;
  left: 90%;
}

body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:last-child .decoration4 {
  position: absolute;
  top: 15%;
  left: 0;
}

body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:last-child .decoration5 {
  position: absolute;
  top: -8%;
  left: 50%;
}

body .wrapper .wrapper__column .content .why-block .why .why-block__row .why-block__item:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 8%;
  z-index: -1;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9672fb+0,d772fb+100 */
  background: #9672fb;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #9672fb 0%, #d772fb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9672fb', endColorstr='#d772fb',GradientType=0 );
  /* IE6-9 */
}

body .wrapper .wrapper__column .content .how-block {
  height: 800px;
  background: url("../img/BG Assets.png") 0 0/100% no-repeat;
  background-color: #9672FB;
  margin-bottom: 220px;
}

body .wrapper .wrapper__column .content .how-block .how-block__text {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .wrapper .wrapper__column .content .how-block .how-block__text img {
  margin-bottom: 25px;
}

body .wrapper .wrapper__column .content .how-block .how-block__text p {
  color: white;
  font-size: 20px;
}

body .wrapper .wrapper__column .footer {
  position: relative;
  top: 122px;
  height: 270px;
}

body .wrapper .wrapper__column .footer .footer__row {
  display: flex;
  justify-content: space-between;
}

body .wrapper .wrapper__column .footer .footer__row .footer__item .item-logo__row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

body .wrapper .wrapper__column .footer .footer__row .footer__item .item-logo__row .logo__item p {
  font-size: 24px;
  font-weight: 600;
}

body .wrapper .wrapper__column .footer .footer__row .footer__item .item-contact__row {
  display: flex;
  justify-content: space-between;
  width: 130px;
}

body .wrapper .wrapper__column .footer .footer__row .footer__item .item-contact__row img {
  transition: all 0.3s ease 0s;
}

body .wrapper .wrapper__column .footer .footer__row .footer__item .item-contact__row img:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.1);
}

body .wrapper .wrapper__column .footer .footer__row .footer__item .item__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

body .wrapper .wrapper__column .footer .footer__row .footer__item li {
  color: #7A7490;
  margin-bottom: 15px;
  transition: all 0.3s ease 0s;
}

body .wrapper .wrapper__column .footer .footer__row .footer__item li span {
  color: #9672FB;
}

body .wrapper .wrapper__column .footer .footer__row .footer__item li:last-child {
  margin-bottom: 0;
}

body .wrapper .wrapper__column .footer .footer__row .footer__item li:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.1);
}

@media (min-width: 600px) {
  body .wrapper .wrapper__column .wrapper__item .smollnovigation._active {
    opacity: 0;
    transition: all 0.3s ease 0s;
  }

  body .wrapper .wrapper__column .wrapper__item .smollnovigation {
    position: absolute;
    z-index: 21;
    right: 0;
    top: 60px;
    width: 380px;
    height: 100%;
    opacity: 1;
    transition: all 0.3s ease 0s;
  }

  body .wrapper .wrapper__column .wrapper__item .smollnovigation .smollnovigation__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  body .wrapper .wrapper__column .wrapper__item .smollnovigation .smollnovigation__row .smollnovigation__item {
    transition: all 0.3s ease 0s;
    font-size: 14px;
    font-weight: 500;
    color: #7A7490;
  }

  body .wrapper .wrapper__column .wrapper__item .smollnovigation .smollnovigation__row .smollnovigation__item:hover {
    transition: all 0.3s ease 0s;
    color: #9672FB;
  }
}

@media (max-width: 1700px) {
  body .wrapper .wrapper__column .wrapper__item .header .header-container {
    max-width: 1000px;
  }
}

@media (max-width: 600px) {
  body .wrapper .wrapper__column .wrapper__item .smollnovigation {
    display: none;
  }
}